/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: verdana, arial, helvetica, sans-serif;
  color: #333;
}

.success {
    color: green;
  }


header {
  margin: 20px;
  font-size: 13px
}

main {
  margin: 0 30px;
}

main h1 {
  font-size: 27px;
  margin-top: 30px
}

.main-text {
  margin: 0 33px;
  font-size: 13px;
  line-height: 4;
}

.main-text span :hover {
  background-color: black;
  color: white;
}

/*index*/
table th{
  padding : 5px 10px;
  font-size: 14px;
}

table td{
  padding: 0 5px 7px;
  font-size: 13px
}

table td :hover {
  background-color: black;
  color: white;
}

.form h2 {
  margin: 10px;
  font-size: 20px;
}

.form p {
  font-size: 13px
}

.field {
  margin: 10px;
}

/*edit*/
.form p {
  font-size: 13px
}

.field {
  margin: 10px;
}

p {
  font-size: 13px;
}

.link :hover {
  background-color: black;
  color: white;
}

/*show*/
.show-book p{
  margin: 80px  45px 40px;
}



